@using InertiaNetCore

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SystemLMS</title>
</head>
<body>
    @await Inertia.Html(Model)
    @Vite.Input("app.js")
</body>
</html>